// =============================================================================
// FOUNDATION COMPONENTS
// =============================================================================

// Global
@import "foundation/global/component";

// Typography
@import "foundation/type/component";

// Buttons
@import "foundation/buttons/component";

// Forms
@import "foundation/forms/component";

// Alerts
@import "foundation/alerts/component";

// Modal
@import "foundation/modal/component";

// Table
@import "foundation/table/component";

// =============================================================================
// BIGCOMMERCE COMPONENTS
// =============================================================================

// Forms
@import "bigcommerce/forms/component";

// Forms
@import "bigcommerce/forms-ccFields/component";

// Icons
@import "bigcommerce/icons/component";

// Loading
@import "bigcommerce/loading/component";

// =============================================================================
// CHECKOUT COMPONENTS
// =============================================================================

// Animation
@import "checkout/animation/component";

// Credit Card Types
@import "bigcommerce/credit-card-types/component";

// Card Icon
@import "checkout/cardIcon/component";

// CartDrawer
@import "checkout/cartDrawer/component";

// CartModal
@import "checkout/cartModal/component";

// ChangeHighligh
@import "checkout/changeHighlight/component";

// Checklist
@import "checkout/checklist/component";

// Checkout Address
@import "checkout/checkoutAddress/component";

// Checkout Cart
@import "checkout/checkoutCart/component";

// Consignment
@import "checkout/consignment/component";

// Customer
@import "checkout/customer/component";

// Checkout Customer Remote
@import "checkout/checkoutRemote/component";

// Checkout Header
@import "checkout/checkoutHeader/component";

// Checkout Steps
@import "checkout/checkoutSteps/component";

// Checkout Customer Suggestion
@import "checkout/checkoutSuggestion/component";

// GenericModal
@import "checkout/genericModal/component";

// Checkout Instrument Modal
@import "checkout/instrumentModal/component";

// Checkout Instrument Select
@import "checkout/instrumentSelect/component";

// Checkout Loading Spinner
@import "checkout/loadingSpinner/component";

// Checkout Payment Provider
@import "checkout/paymentProvider/component";

// Checkout Product List
@import "checkout/productList/component";

// Spam Protection
@import "checkout/spamProtection/component";

// Checkout Store Credit
@import "checkout/storeCredit/component";

// Checkout Order Confirmation
@import "checkout/orderConfirmation/component";

// Checkout Widget
@import "checkout/widget/component";

// SignOut Link Component
@import "checkout/signoutLink/component";

// Dynamic Form Fields Component
@import "checkout/dynamicFormField/component";

// Payment Icons

.payments {
    display: none;
    margin-top: 18px;

    h2 {
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.36px;
        line-height: 24px;
        margin-bottom: 16px;
    }

    ul.benefit-list {
        margin: 0;
        margin-bottom: 18px;

        li {
            align-items: center;
            background: url("../static/img/bullet.png") no-repeat left center;
            color: #fff;
            display: flex;
            font-size: 15px;
            font-style: normal;
            font-weight: 450;
            line-height: 21px;
            margin-bottom: 17px;
            padding-left: 32px;
        }
    }
}

.cart-summary-wrapper-mobile .cart {
    display: block;
}

body.test_15 {
    .payments {
        display: block;
    }

    .cart-summary-wrapper-mobile.layout-cart {
        padding-left: 0;
        padding-right: 0;
    }
}

.free-shipping {
    align-items: center;
    background: #d40449;
    border-radius: 6px;
    color: #fff;
    display: flex;
    font-size: 15px;
    font-style: normal;
    font-weight: 450;
    height: 30px;
    justify-content: center;
    line-height: 21px;
    margin-bottom: 32px;
    text-align: center;
}

.payments-method {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    &.full-method {
        align-items: center;
        justify-content: center;
    }
}

.payment-icon {
    border-radius: 3px;
    height: 20px;
    min-width: 32px;
}

.paypal-icon {
    background: url("../static/svg/payments/Paypal-card-dark.svg") no-repeat center center;
}

.amex-icon {
    background: url("../static/svg/payments/AmericanExpress-dark.svg") no-repeat center center;
}

.discover-icon {
    background: url("../static/svg/payments/Discover-card-dark.svg") no-repeat center center;
}

.diners-icon {
    background: url("../static/svg/payments/diners.png") no-repeat center center;
}

.gpay-icon {
    background: #fff url("../static/svg/payments/Gpay.png") no-repeat center center;
}

.jcb-icon {
    background: url("../static/svg/payments/jcb.png") no-repeat center center;
}

.mastercard-icon {
    background: #fff url("../static/svg/payments/mastercard.png") no-repeat center center;
}

.visacard-icon {
    background: url("../static/svg/payments/Visa-card-dark.svg") no-repeat center center;
}
